@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 自訂滾動條樣式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d9ccbb;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0562d;
}
